@font-face {
  font-family: 'GearedSlab-Bold';
  src:
       url('../fonts/GearedSlab-Bold2.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'GearedSlab';
  src:
       url('../fonts/GearedSlab.woff') format('woff'), /* Pretty Modern Browsers */
}
