@font-face {
  font-family: 'Blueberry-Regular';
  src:
       url('../fonts/Blueberry-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Richela-Kids';
  src:
       url('../fonts/Richela-Kids.woff') format('woff'), /* Pretty Modern Browsers */
}
