.sponsors{
  background: $purple;

  h3{
    margin-top: 0;
    font-family: $brand-font-family;
    font-size: 2.5rem;
    color: $white;

    @media screen and (min-width: #{$break-point}){
      float: left;
      max-width: 25%;
    }
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    columns: 12rem 3;
    column-gap: 2rem;

    @media screen and (min-width: #{$break-point}){
      float: left;
      width: 70%;
      margin: 0 0 0 5%;
    }

    li{
      -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
      margin-bottom: 1rem;
      line-height: 1.2;

      a{
        color: $white;
      }
    }
  }
}

.library{
  clear: both;
  text-align: center;

  svg{
    width: 5rem;
    fill: $light-green;
  }
}
