/*brand colors*/
$seafoam: #8bceae;
$purple: #924286;
$blue: #2578bd;
$light-red: #f15a43;
$yellow: #fff200;

/*base colors*/
$white: #fff;
$black: #000;
$gray: #9B9B9B;

$base-font-family: 'GearedSlab', monospace;
$header-font-family: 'GearedSlab-Bold', script;
$brand-font-family: 'GearedSlab', monospace;

$max-width: 1024px;
$break-point: 40rem;
$wide-break-point: 53rem;
