/*brand colors*/
$magenta: #ee3070;
$purple: #5b57a6;
$blue: #00bcdf;
$light-red: #f15a43;
$yellow: #ffd400;

/*base colors*/
$white: #fff;
$black: #000;
$gray: #9B9B9B;

$base-font-family: 'Richela-Kids', monospace;
$header-font-family: 'Blueberry-Regular', script;
$brand-font-family: 'Blueberry-Regular', script;

$max-width: 1024px;
$break-point: 40rem;
$wide-break-point: 53rem;
