/*brand colors*/
$magenta: #ee3070;
$purple: #5b57a6;
$blue: #00bcdf;
// light-red is same as magenta this year
$light-red: #ee3070;
$yellow: #ffd400;

/*base colors*/
$white: #fff;
$black: #000;
$gray: #9B9B9B;

$base-font-family: 'Lato', sans-serif;
$header-font-family: 'Richela-Kids', monospace;
$brand-font-family: 'Richela-Kids', monospace;

$max-width: 1024px;
$break-point: 40rem;
$wide-break-point: 53rem;
